<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Text App</span>

  <span class="spacer"></span>
  <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
  <button mat-flat-button color="primary" routerLink="admin" routerLinkActive="active">Admin</button>
  <button mat-flat-button color="primary" routerLink="login" routerLinkActive="active">Login</button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<h1>Footer</h1>
